@font-face {
  font-family: 'Uthman Naskh';
  src: local('KFGQPC Uthman Taha Naskh'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanTN1%20Ver10.woff2)
      format('woff2'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanTN1%20Ver10.woff)
      format('woff');
}
@font-face {
  font-family: 'Uthman Naskh';
  font-weight: bold;
  src: local('KFGQPC Uthman Taha Naskh Bold'),
    local('KFGQPCUthmanTahaNaskh-Bold'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanTN1B%20Ver10.woff2)
      format('woff2'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanTN1B%20Ver10.woff)
      format('woff');
}
@font-face {
  font-family: 'Uthman Hafs';
  src: local('KFGQPC Uthmanic Script HAFS'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanicHafs1%20Ver09.woff2)
      format('woff2'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanicHafs1%20Ver09.woff)
      format('woff');
}
@font-face {
  font-family: 'QPC Symbols';
  src: local('KFGQPC Arabic Symbols 01'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/Symbols1_Ver02.woff2)
      format('woff2'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/Symbols1_Ver02.woff)
      format('woff');
}

.rtl {
  direction: rtl;
}

.ar {
  font-family: 'Uthman Naskh';
}
.verse {
  font-size: 1.5em;
}
.p1-v2 {
  font-family: 'Uthman Naskh';
  font-weight: bold;
}

.fa {
  font-family: 'Vazir', sans-serif;
  font-weight: lighter;
}
.title {
  text-align: center;
}

.en {
  font-family: serif;
}
